name: Secret Scanning (TruffleHog)

on:
  pull_request:
  push:
    branches:
      - main
jobs:
  trufflehog:
    name: Scan for secrets
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run TruffleHog
        uses: trufflesecurity/trufflehog@v3
        with:
          scan: git
          args: >
            --fail
            --no-update
            --only-verified
